@model AlaskaExpress.Models.BusDetail

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>BusDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.busFrom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.busFrom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.busTo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.busTo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.totalSeat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.totalSeat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.busCoach)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.busCoach)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CostPerSeat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CostPerSeat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.journeyDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.journeyDate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
