@model IEnumerable<AlaskaExpress.Models.BusDetail>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.busFrom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.busTo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.totalSeat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.busCoach)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CostPerSeat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.journeyDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.busFrom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.busTo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.totalSeat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.busCoach)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CostPerSeat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.journeyDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.busID }) |
            @Html.ActionLink("Details", "Details", new { id=item.busID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.busID })
        </td>
    </tr>
}

</table>
