@model List<AlaskaExpress.Models.BusDetail>


@{
    ViewBag.Title = "GetBus";
}

<h2>Available Buses</h2>
<table class="table table-striped table hover">

    <thead>
        <tr>
            <th>Bus Id</th>
            <th>Bus From</th>
            <th>Bus To</th>
            <th>Total Seat</th>
            <th>Bus Coach</th>
            <th>Cost Per Seat</th>
            <th>Journey Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var bt in Model)
            {
             <tr>
                 <td>@bt.busID</td>
             
                 <td>@bt.busFrom</td>
                 <td>@bt.busTo</td>
                 <td>@bt.totalSeat</td>
                 <td>@bt.busCoach</td>
                 <td>@bt.CostPerSeat</td>
                 <td>@bt.journeyDate</td>
              </tr>
                 }
</tbody>
</table> 


