@model AlaskaExpress.Models.Customer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customer_password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer_password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer_fullname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer_fullname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer_dob)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer_dob)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer_gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer_gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer_address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer_address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer_phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer_phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer_nid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer_nid)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Customer_email }) |
    @Html.ActionLink("Back to List", "Index")
</p>
